*{
    padding: 0;
    box-sizing: 0;
    background: rgb(232, 241, 242);
}

body{
    display: flex;
    /*background: linear-gradient(#2f5d62,#18163a );*/
}
.info{
    width: 75vw;
}
.info_header{
    /*outline: 5px solid blue;*/
    display: flex;
    /*color: white;*/
}
.info_headerr_image{
    border: solid rgb(19, 41, 61);
    border-radius: 75px;
    height: 150px;
    margin: 10px;
}
.info_header_info{
    width: 100%;
}
.info_headerr_info{
    display: flex;
    justify-content: space-around;
}
.info_headerr_datos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    color: black;
}
.info_headerr_datos p{
    margin: 0;
}
.info_headerr_icon{
    height: 40px;
    margin: 5px;
}
.info_body > h2{
    background: rgb(19, 41, 61);
    color: rgb(232, 241, 242);
    padding: 20px;
    margin: 0;
    border-radius: 20px;
}
 ul{
    position: relative;
    left: 20px;
    list-style: square;
    margin: 0;
    margin-right: 20px;
}
.info_body_experience_item{
    display: flex;
    align-items: center;
}
h3{
    margin: 0;
}
p{
    margin: 10px;
}
.info_body_experience_item_tittle h3{
    width: 200px;
}
h4{
    margin: 0;
}
h5{
    margin: 0;
}
.info_body_education{
    display: flex;
    justify-content: space-between;
}
.info_body_education_professional{
    width: 47%;
}
.info_body_education_item{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.info_body_education_complementary{
    width: 47%;
}
                        progress[value] {
                            /* Elimino la apariencia por defecto */
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            
                            /* Quito el borde que aparece en Firefox */
                            border: none;
                        
                            /* Añado mis propios estilos */
                            width: 90%;
                            height: 20px;
                            overflow:hidden;
                            
                        /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
                            border:1px inset #666;
                            background-color:#D8D8D8;
                            border-radius : 20px ;
                        }
                        progress::-moz-progress-bar{
                            background: rgb(19, 41, 61);
                            border-radius : 20px;
                        }
                        progress::-webkit-progress-value {
                            background: rgb(19, 41, 61);
                            border-radius : 20px;  
                        }
                        
                        progress::-webkit-progress-bar {
                            background-color:#D8D8D8;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
                            border-radius : 20px ;         
                        }
.skills{
    background: rgb(223, 230, 232);
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills h2{
    background: rgb(223, 230, 232);
}
.skills_skills{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(223, 230, 232);
}
.skills_skills :nth-child(2n+1){
    background: #ae8264;
    color: rgb(243, 251, 253);
}
.skills_skills :nth-child(2n){
    background: #355664;
}
.skills_skills :nth-child(2n) h3{
    background: #355664;
}
.skills_skills :nth-child(2n) a{
    background: #355664;
}
.skills_skills_item{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.skills_skills_item_link{
    text-align: right;
}
.skills_hobbies{
    background: rgb(223, 230, 232);
}
.skills_hobbies img{
    height: 60px;
    background: rgb(223, 230, 232);
}
.skills_instagram a{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(223, 230, 232);
}
footer{
    margin-top: auto;
    height: inherit;
}
@media only screen and (max-width:1185px){
.skills_hobbies{
    display: flex;
    flex-direction: column;
}
}
@media only screen and (max-width:736px){
    body{
        display: flex;
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .info_body_experience_item{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .info_body_experience_item_tittle h3{
        width: auto;
    }
    .skills{
        width: 100vw;
    }
}
@media only screen and (max-width:548px){
    .info_headerr_datos p{
        display: none;
    }
    .info_body_education{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .info_body_education_professional{
        width: 100%;
    }
    .info_body_education_complementary{
        width: 100%;
    }
}