
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background: rgb(232, 241, 242);
}
header{
    
}
.page{
    display: flex;
    /*background: linear-gradient(#2f5d62,#18163a );*/
}
.page_info{
    width: 75vw;
}
.page_info_headerr{
    /*outline: 5px solid blue;*/
    display: flex;
    /*color: white;*/
}
.page_info_headerr_image{
    border: solid rgb(19, 41, 61);
    border-radius: 75px;
    height: 150px;
    margin: 10px;
}
.page_info_header_in{
    box-sizing: content-box;
    width: 100%;
}
.page_info_headerr_info{
    display: flex;
    justify-content: space-around;
}
.page_info_headerr_datos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    color: black;
}
.page_info_headerr_icon{
    height: 40px;
    margin: 5px;
}
.page_info_body{
    /*outline: 5px solid white;*/
    /*color: white;*/
}
.page_info_body > h3{
    background: rgb(19, 41, 61);
    color: rgb(232, 241, 242);
    height: 50px;
}
.page_info_body_experi{
    display: flex;
    align-items: center;
}
.page_info_body_educacion{
    display: flex;
}
.page_skills{
    /*color: white;*/
    background: rgb(223, 230, 232);
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*outline: 5px solid red;*/
}
footer{
    /*outline:5px solid brown;*/
    margin-top: auto;
    height: inherit;
}